<!--Q-TSI - App
BOARD POSITION
<!--Tabs Navigation hidden -->
<ion-view view-title="{{'view.boardposition.Title' | translate}}" hide-tabs="true" cache-view="false">
    <ion-content class="align">
        <div class="row padding">
            <div class="col col-33"></div>
            <div class="col col-33" id="locationHeader"> <h4>{{'view.boardposition.Text' | translate}}</h4> </div>
            <div class="col col-33"></div>
        </div>
        <div class="row">
            <div class="col col-33"></div>
            <div class="col col-33">
                <button class="button button-light" id="top" ng-click="setBoardPosition('top')">
                    {{'view.boardposition.Button.Top' | translate}}
                </button>
            </div>
            <div class="col col-33"></div>
        </div>
        <div class="row padding">
            <div class="col col-33">
                <button class="button button-stable" id="aside" ng-click="setBoardPosition('left')" style="float: right;">
                    {{'view.boardposition.Button.Left' | translate}}
                </button>
            </div>
            <div class="col col-33">
                <div class="row">
                    <div class="col">
                        <label class="item item-radio" ng-repeat="position in positions_1" for={{position}}>
                            <input type="radio" name="group" ng-click="setTeacherDeskLocation('{{position}}')">
                            <div class="item-content">
                                {{position}}
                            </div>
                        </label>
                    </div>
                    <div class="col">
                        <label class="item item-radio" ng-repeat="position in positions_2" for={{position}}>
                            <input type="radio" name="group" ng-click="setTeacherDeskLocation('{{position}}')">
                            <div class="item-content">
                                {{position}}
                            </div>
                        </label>
                    </div>
                    <div class="col">
                        <label class="item item-radio" ng-repeat="position in positions_3" for={{position}}>
                            <input type="radio" name="group" ng-click="setTeacherDeskLocation('{{position}}')">
                            <div class="item-content">
                                {{position}}
                            </div>
                        </label>
                    </div>
                    <div class="col">
                        <label class="item item-radio" ng-repeat="position in positions_4" for={{position}}>
                            <input type="radio" name="group" ng-click="setTeacherDeskLocation('{{position}}')">
                            <div class="item-content">
                                {{position}}
                            </div>
                        </label>
                    </div>
                </div>      
            </div>
            <div class="col col-33">
                <button class="button button-stable" id="aside" ng-click="setBoardPosition('right')" style="float: left;">
                    {{'view.boardposition.Button.Right' | translate}}
                </button>
            </div>
        </div>
        <div class="row padding">
            <div class="col col-33"></div>
            <div class="col col-33">
                <h4>{{'view.boardposition.Text.PositionObserver' | translate}}</h4>
            </div>
            <div class="col col-33"></div>
        </div>
        <div class="row" id="saveMargin">
            <div class="col col-33"></div>
            <div class="col col-33">
                <button class="button button-full button-positive" ng-click="save()" ui-sref="observation({ boardposition: boardposition, teacherDeskLocation: teacherDeskLocation, id: id, idO: idO })">
                    {{'view.boardposition.Button.Save' | translate}}
                </button>
            </div>
            <div class="col col-33"></div>
        </div>
    </ion-content>
</ion-view>