<!--Q-TSI - App -->
<!--ABOUT VIEW -->
<ion-view view-title="{{'view.about.Title' | translate}}" class="align" cache-view="false">
    <ion-header-bar class="bar bar-subheader bar-padding extra-margin">
        <h1 class="title" style="text-align:center">Q-TSI - Quantifying Teacher-Student Interactions</h1>
    </ion-header-bar>
    <ion-content class="padding extra-margin extra-padding">
        <p class="padding" style="white-space:pre;">{{'view.about.Text' | translate}}
        </p>
        <span class="title padding" style="white-space:pre;">{{'view.about.Contact' | translate}}</span>
        </ion-content>
</ion-view>